html {
  height: 100%;
  width: 120%;
}
.phandau {
  color: white; 
  background-color: pink; 
  text-align: center; 
  padding: 15px
  font-size: 30px; 
}
.trinhdon {
  background-color: red; 
  padding: 10px; 
  width: 100%
  height: 120%
}
.hello { 
  color: red;
  background:orange;
  text-align: left;
  font-size: 15px;
}
.noidung {
  color:pink
  background-color: black;
  font-size: 15px;
}
