html {
  height: 100%;
  width: 120%;
}
.phandau {
  color: white; 
  background-color: pink; 
  text-align: center; 
  padding: 15px; 
}
.thucdon {
  background-color: red; 
  padding: 10px; 
}
.hello { 
  color: red;
  background:orange;
  text-align: left;
}
